// Colours

$darkPink: #FF8486;
$lightPink: #FCAAA7;

$darkGreen: #78A442;
$lightGreen: #8FBE5E;

$dankBlue: #216796;
$lightBlue: #2C85B5;

$lightGray: #F2F2F2;

//Font-stack

$fontStack: "museo-sans-rounded", "Helvetica", "Arial", sans-serif;

//TeaBag Mixin

@mixin createTeaBag ($colourLight, $colourDark) {

    @extend .teaBag;

    .teaBag-top {
        border-bottom-color: $colourLight;
    }

    .teaBag-topFlap {
        border-top-color: $colourDark;
    }

    .teaBag-bottom {
        background-color: $colourLight;
    }

}


//Animations

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

//reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Styling Start

body {
    font-family: $fontStack;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    //background-color: #F2F2F2;
}

.fade-in {
	opacity: 0;

	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;

	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.fade-in.fade2 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.fade-in.fade3 {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.mainLeftArea {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
	z-index: 1;
    height: 100vh;
    width: 600px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.5rem;
        padding: 2.4em;
        line-height: 1.4;
        text-align: center;
		font-weight: 300;
		padding-bottom: 6em;
    }

}

.news-area {

	width: 98%;
	margin: auto;
	overflow: auto;


	img {
		background-size: cover;
		width: 50%;
		float: left;

		&:hover {
			//opacity: 0.7;
		}

		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.news-hero {
		width: 100%;
		margin: auto;
	}
}

nav {
    flex: 3;
	background-color: $lightGray;
}

.full-nav {
	overflow: hidden;
	height: 100vh;
}

ul {
    height: 100%;
    margin: 0 2em;
}

.mainButton {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}

header {
    background-color: $dankBlue;

    img {
        width: 200px;
        padding-left: 31%;
        margin-top: 0px;
		margin-bottom: 30px;
    }

    span {
        display: none;
    }
}

/** Top Bar Styling **/

.top-bar {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100px;
	background-color: $lightGray;
	justify-content: space-between;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);


	.logo-container {
		flex-grow: 0;
		max-width: 250px;
		flex: 1;


		img {
			padding-left: 20px;
			width: 180px;
		}
	}
	nav {
		order: 3;
		flex: none;
	}

	ul {
		margin-top: 20px;

		li {
			float: right;
		}
	}

	li:first-child	{
		margin-left: 30px;
	}


	.top-bar-title {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		flex: 4;
		max-width: 400px;

		.title-area {
			width: 100%;
		}

		.bottom-triangle {
            text-shadow: 0 0 20px black;
			width: 0;
            z-index: 3;
			height: 0;
			border-left: 160px solid transparent;
			border-right: 160px solid transparent;

		}


		h1 {
			color: #fff;
			font-size: 2rem;
			font-weight: 900;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			padding-top: 35px;
		}

		img {
			display: inline;
			margin: 0;
			padding: 0;
			height: 80px;
			margin: -23px -30px 0 -20px;
		}

		.side-piece {
			height: 100px;
			width: 50px;
		}
	}

	.smallTeaBag {


		.teaBag-top {
			border-bottom-width: 25px;
			border-left-width: 20px;
			border-right-width: 20px;
			width: 50px;
		}

		.teaBag-bottom {
			width: 90px;
			height: 90px;

			p {
				font-size: 1.3rem;
			}
		}

		.teaBag-topFlap {
			border-top-width: 20px;
			border-left-width: 10px;
			border-right-width: 10px;
			width: 30px;
		}

		.teaBag-staple {
			margin-top: -10px;
			margin-left: 10px;
			width: 10px;
			height: 1px;
		}
	}
}


.pinkBar  {
    background-color: $lightPink;

    .bottom-triangle {
        border-top: 40px solid $lightPink;
        margin-top: 32px;
    }

    .side-piece {
        background-color: $darkPink;
    }

}

.blueBar {
    background-color: $lightBlue;

    .bottom-triangle {
        border-top: 40px solid $lightBlue;
        margin-top: 8px;
    }

    .side-piece {
        background-color: $dankBlue;
    }
}

.greenBar {
    background-color: $lightGreen;

    .bottom-triangle {
        border-top: 40px solid $lightGreen;
        margin-top: 32px;
    }

    .side-piece {
        background-color: $darkGreen;
    }
}




/** Teabag Styling **/

.teaBag {
    width:-115px;
	text-decoration: none;
	color: #fff;
	font-size: 2.5rem;
	font-weight: 900;
	line-height: 1.1;
	text-align: center;
    z-index: 4;

    .teaBag-top {
        border-bottom: 50px solid #fff;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        height: 0;
        width: 100px;

    }

    .teaBag-staple {
        margin-top: -20px;
        margin-left: 21px;
        border-radius: 5px;
        width: 18px;
        height: 2px;
        background-color: #eeeeee;
    }

    .teaBag-topFlap {
        border-top: 40px solid #fff;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        width: 60px;
    }

    .teaBag-bottom {

        display: flex;
        width: 180px;
        height: 180px;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
		z-index: 2;
    }


}

//Applying Mixins

.greenTeaBag {
    @include createTeaBag($lightGreen, $darkGreen);
}

.blueTeaBag {
    @include createTeaBag($lightBlue, $dankBlue);

	span {
		display: none;
	}

	img {
		width: 100px;
		text-align: center;
		display: block;
		position: relative;
		margin: 0 auto;
		white-space:nowrap;
	}
}

.pinkTeaBag {
    @include createTeaBag($lightPink, $darkPink);
}

.smallAboutTetleyBag {
    @extend .smallTeaBag;

    img {
        padding-left: 0;
        width: 70px;
        margin-top: -5px;
    }
}

.mainButton {
    min-height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;

    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    p {
        margin: 0;
    }

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.mainButton:hover {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);

	margin-top: -4px;

	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

//Button Images and Sizing

.ourTea-button {
    @extend .mainButton;
    background-image: url("../images/Tetley-Tea-menu-photo-1sb.jpg");
    width: 100%;
    margin: 1.5em 0;
	&:hover {
		margin-top: 20px;
		margin-bottom: 28px;
	}
}

.aboutTea-button {
    @extend .mainButton;
    background-image: url("../images/Tetley-Tea-menu-photo-2b.jpg");
    width: 49%;
    float:left;
    background-size: 160%;
    background-position: bottom;

}

.aboutTetley-button {
    @extend .mainButton;
    background-image: url("../images/Tetley-Tea-menu-photo-3b.jpg");
    width: 49%;
    float: right;
}

//About Tetley page Styles

.aboutTetley {
	display: flex;
	justify-content: center;

	main {
		width: 85%;
		margin-top: 200px;
		display: flex;

		h2 {
			display: inline-block;
			font-size: 1.8rem;
			font-weight: 700;
			padding-bottom: 15px;
		}

		.contactArea {
			flex: 2;
			padding: 20px 30px;
			background-color: $dankBlue;
			border-radius: 5px;
			color: white;
			font-weight: 200;
			line-height: 1.2;

			a {
				text-decoration: none;
				color: #eee;
				padding-bottom: 20px;
			}

			h4 {
				font-size: 1.2rem;
				font-weight: 700;
			}
		}

		.middleDivider {
			flex: 2;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 20px;

			.dividerImage {
				background-image: url("../images/tetley-main-divider.jpg");
				background-color: #eee;
				border-radius: 5px;
				min-height: 400px;
				margin-bottom: 20px;
				background-size: cover;
			}

			.corperateButton {
				height: 50px;
				font-size: 1.4rem;
				font-weight: 700;
				background-color: $lightBlue;
				border-radius: 5px;
				text-align: center;
				padding-top: 30px;
				color: white;

                -webkit-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                transition: all 0.1s ease;

                &:hover {
                    margin-top: -4px;
                    margin-bottom: 4px;
                    background-color: $dankBlue;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);

                    -webkit-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }

			}
		}

		.aboutArea {
			flex: 3;
			padding-top: 15px;
			padding-left: 10px;
			display: inline-block;

			p {
				display: inline-block;
				font-size: 1.1rem;
				font-weight: 200;
				padding-bottom: 20px;
				line-height: 1.4;
				max-width: 400px;
				margin: 0;
			}
		}
	}
}

.ourTeas {
    width: 100%;

    main {

        display: flex;
        height: 1000px;
        position: fixed;
        z-index: -5;
        margin-top: 100px;

        .infoSide {
            padding: 40px;
            flex: 2;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.30);
            z-index: 1;

            img {
                margin: 10px auto 40px auto;
            }

            h2 {
                font-size: 1.5rem;
                padding-top: 5px;
                padding-bottom: 20px;
                font-weight: 900;
                color: $dankBlue;
            }

            p {
                line-height: 1.4;
                font-weight: 200;
                padding-bottom: 20px;
            }

            a {

                text-decoration: none;
                color: $lightBlue;
            }

            .suggestions    {
                margin-top: 40px;

                img {
                    padding-top: 10px;
                    width: 130px;

                }
            }

        }

        .productGrid {
            flex: 4 2;

            z-index: 0;

            .sortingNav {
                height: 120px;
                background-color: $lightPink;
                opacity: 0.6;
                z-index: 0;
            }
        }

        .gridContainer {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 78vh;
            background-color: $lightGray;
            display: flex;
            padding: 30px 10px 100px 0px;
            flex-flow: row wrap;
            justify-content: space-around;


            .productItem {
                padding: 15px;
                width: 150px;
                height: 150px;

                img {
                    height: 130px;
                    padding: 10px;
                }
            }
        }
    }

}


//Tea SVG EXP

#tea {
    margin: 0 10%;
    margin-top: -300px;
    width: 1000px;
    height: 1000px;

}
