/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  font-family: "museo-sans-rounded", "Helvetica", "Arial", sans-serif;
  height: 100%;
  display: -webkit-flex;
  display: flex;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.fade2 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in.fade3 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.mainLeftArea {
  background-color: #f2f2f2;
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.mainLeftArea p {
  font-size: 1.5rem;
  padding: 2.4em;
  line-height: 1.4;
  text-align: center;
  font-weight: 300;
  padding-bottom: 6em;
}

.news-area {
  width: 98%;
  margin: auto;
  overflow: auto;
}
.news-area img {
  background-size: cover;
  width: 50%;
  float: left;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news-area .news-hero {
  width: 100%;
  margin: auto;
}

nav {
  flex: 3;
  height: 100%;
}

ul {
  height: 100%;
  min-height: 90vh;
  margin: 0 2em;
}

.mainButton, .ourTea-button, .aboutTea-button, .aboutTetley-button {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

header {
  background-color: #216796;
}
header img {
  width: 200px;
  padding-left: 31%;
  margin-top: 0px;
  margin-bottom: 30px;
}
header span {
  display: none;
}

/** Top Bar Styling **/
.top-bar {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
  justify-content: space-between;
}
.top-bar .logo-container {
  flex-grow: 0;
  max-width: 250px;
  flex: 1;
}
.top-bar .logo-container img {
  padding-left: 20px;
}
.top-bar nav {
  order: 3;
  flex: none;
}
.top-bar ul {
  margin-top: 20px;
}
.top-bar ul li {
  float: right;
}
.top-bar li:first-child {
  margin-left: 30px;
}
.top-bar .top-bar-title {
  background-color: #2c85b5;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex: 4;
  max-width: 400px;
}
.top-bar .top-bar-title .title-area {
  width: 100%;
}
.top-bar .top-bar-title .bottom-triangle {
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 50px solid #2c85b5;
  margin-top: 8px;
}
.top-bar .top-bar-title h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.top-bar .top-bar-title img {
  display: inline;
  margin: 0;
  padding: 0;
  height: 80px;
  margin: -23px -30px 0 -20px;
}
.top-bar .top-bar-title .side-piece {
  height: 100px;
  background-color: #216796;
  width: 50px;
}
.top-bar .smallTeaBag .teaBag-top {
  border-bottom-width: 25px;
  border-left-width: 20px;
  border-right-width: 20px;
  width: 50px;
}
.top-bar .smallTeaBag .teaBag-bottom {
  width: 90px;
  height: 90px;
}
.top-bar .smallTeaBag .teaBag-bottom p {
  font-size: 1.3rem;
}
.top-bar .smallTeaBag .teaBag-topFlap {
  border-top-width: 20px;
  border-left-width: 10px;
  border-right-width: 10px;
  width: 30px;
}
.top-bar .smallTeaBag .teaBag-staple {
  margin-top: -10px;
  margin-left: 10px;
  width: 10px;
  height: 1px;
}

/** Teabag Styling **/
.teaBag, .greenTeaBag, .blueTeaBag, .pinkTeaBag {
  width: -115px;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
}
.teaBag .teaBag-top, .greenTeaBag .teaBag-top, .blueTeaBag .teaBag-top, .pinkTeaBag .teaBag-top {
  border-bottom: 50px solid #fff;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 100px;
}
.teaBag .teaBag-staple, .greenTeaBag .teaBag-staple, .blueTeaBag .teaBag-staple, .pinkTeaBag .teaBag-staple {
  margin-top: -20px;
  margin-left: 21px;
  border-radius: 5px;
  width: 18px;
  height: 2px;
  background-color: #eeeeee;
}
.teaBag .teaBag-topFlap, .greenTeaBag .teaBag-topFlap, .blueTeaBag .teaBag-topFlap, .pinkTeaBag .teaBag-topFlap {
  border-top: 40px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 60px;
}
.teaBag .teaBag-bottom, .greenTeaBag .teaBag-bottom, .blueTeaBag .teaBag-bottom, .pinkTeaBag .teaBag-bottom {
  display: flex;
  width: 180px;
  height: 180px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.greenTeaBag .teaBag-top {
  border-bottom-color: #8fbe5e;
}
.greenTeaBag .teaBag-topFlap {
  border-top-color: #78a442;
}
.greenTeaBag .teaBag-bottom {
  background-color: #8fbe5e;
}

.blueTeaBag .teaBag-top {
  border-bottom-color: #2c85b5;
}
.blueTeaBag .teaBag-topFlap {
  border-top-color: #216796;
}
.blueTeaBag .teaBag-bottom {
  background-color: #2c85b5;
}
.blueTeaBag span {
  display: none;
}
.blueTeaBag img {
  width: 100px;
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  white-space: nowrap;
}

.pinkTeaBag .teaBag-top {
  border-bottom-color: #fcaaa7;
}
.pinkTeaBag .teaBag-topFlap {
  border-top-color: #ff8486;
}
.pinkTeaBag .teaBag-bottom {
  background-color: #fcaaa7;
}

.mainButton, .ourTea-button, .aboutTea-button, .aboutTetley-button {
  min-height: 46vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mainButton p, .ourTea-button p, .aboutTea-button p, .aboutTetley-button p {
  margin: 0;
}

.mainButton:hover, .ourTea-button:hover, .aboutTea-button:hover, .aboutTetley-button:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: -4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ourTea-button {
  background-image: url("../images/Tetley-Tea-menu-photo-1sb.jpg");
  width: 100%;
  margin: 1.5em 0;
}
.ourTea-button:hover {
  margin-top: 20px;
  margin-bottom: 28px;
}

.aboutTea-button {
  background-image: url("../images/Tetley-Tea-menu-photo-2b.jpg");
  width: 49%;
  float: left;
  background-size: 160%;
  background-position: bottom;
}

.aboutTetley-button {
  background-image: url("../images/Tetley-Tea-menu-photo-3b.jpg");
  width: 49%;
  float: right;
}
