<!doctype html>
<html ng-app="OurTeas">

<head>
    <meta charset="UTF-8">
    <title>Tetley Tea</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <script>
  (function(d) {
    var config = {
      kitId: 'hov5lfu',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
</head>
<body>

    <header class="top-bar">
        <div class="logo-container">
            <a href="../index.html">
                <img alt="Tetley Logo" src="../images/tetleyLogoSemi.svg">
            </a>
        </div>
        <div class="top-bar-title pinkBar">
            <div class="side-piece"></div>
            <div class="title-area">
                <h1>OUR TEAS</h1>
                <div class="bottom-triangle"></div>
            </div>
            <div class="side-piece"></div>
        </div>
        <nav>
            <ul>
                <li class="fade-in">
                    <a href="tetley.html" class="blueTeaBag teaBag smallTeaBag smallAboutTetleyBag fade-in fade2">
                        <div class="teaBag-top">
                            <div class="teaBag-topFlap">
                                <div class="teaBag-staple">
                                </div>
                            </div>

                        </div>
                        <div class="teaBag-bottom">
                            <p>ABOUT<br> <span>Tetley</span><img alt="Tetley" src="../images/tetleyLogo.svg"></p>
                        </div>
                    </a>
                </li>
                <li class="fade-in">
                    <a href="aboutTea.html" class="greenTeaBag teaBag smallTeaBag fade-in fade3">
                        <div class="teaBag-top">
                            <div class="teaBag-topFlap">
                                <div class="teaBag-staple">
                                </div>
                            </div>

                        </div>
                        <div class="teaBag-bottom">
                            <p>ABOUT TEA</p>
                        </div>
                    </a>
                </li>
            </ul>

        </nav>
    </header>

    <div class="ourTeas" ng-controller="ProductsController as list">
        <main>
            <section class="infoSide">
                <img alt="tea image" src="../images/productImages/{{('000'+ list.selected).substr(-3)}}-tea.png">
                <h3>{{list.products[list.selected].category}}</h3>
                <h2>{{list.products[list.selected].name}}</h2>
                <p> {{list.products[list.selected].description}}</p>
                <a href="#">Learn more about {{list.products[list.selected].teaType + ' Tea'}}</a>

                <div class="suggestions">
                    <h4>You may also like:</h4>
                    <div class="otherTeas">
                        <img ng-click="list.selected = list.selected+1" alt="otherTea1" src="../images/productImages/{{('000'+ (list.selected + 1)).substr(-3)}}-tea.png">
                        <img ng-click="list.selected = list.selected+2" alt="otherTea2" src="../images/productImages/{{('000'+ (list.selected + 2)).substr(-3)}}-tea.png">
                    </div>
                </div>
            </section>
            <section class="productGrid">
                <!-- <nav class="sortingNav">
                    <ul>
                        <li>Sort By: Alphabetical</li>
                        <li>From: Top-Bottom</li>
                        <li>Category: All</li>
                    </ul>
                </nav>
            -->
                <div class="gridContainer">
                    <a class="productItem" id="{{(('000'+ $index).substr(-3))}}" ng-repeat="product in list.products" ng-click="list.selected = $index">
                        <img alt="product image" src="../images/productImages/{{('000'+ $index).substr(-3)}}-tea.png" ng-click="list.selected = $index">
                    </a>


                </div>
            </section>
        </main>
    </div>

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-resource.min.js"></script>
    <script src="../js/app.js"></script>

</body>
